*{
    font-size: medium;
    background-color: black;
    color: aliceblue;
}

body{
    display: flex;
    justify-content: left;
    align-items: left;
}
input{
    border: 2px solid aliceblue;
    border-radius: 3px;
}
#submit{
    border: 2px solid red;
    border-radius: 3px;
    color: red;
}