body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    gap: 20px;
    row-gap: 1px; 
    list-style: none;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4x rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}