<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="../static/style.css">
    <title>Web Scrapper</title>
</head>
<body>
    <form action="" method="post">
        Company name <input type="text" name="comanyname">
        Techonolgy name <input type="text" name="stackname">
        <input type="submit" value="Enter">
    </form>
    <table>
        <tr>
            <td>
                Company Name
            </td>
            <td>
                Techonolgy name
            </td>
        </tr>
        {% for %}
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>